@use'./partials/_mixins' as *;
@use'./partials/_variables' as *;
@import "~bootstrap/scss/bootstrap";

body {
    .my_container {
        width: 80%;
        margin: 0 auto;
    }

    .my_jumbo {
        height: 700px;
        width: 100%;
        background-image: url(https://images.pexels.com/photos/17295498/pexels-photo-17295498/free-photo-of-deer-ears-in-green-field.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-size: cover;
        font-weight: 800;
        color: white;

        .j-txt-box {
            width: 400px;
        }

        p {
            font-weight: 300;
        }
    }

    .my_line {

        display: flex;
        align-items: center;

        // width: 800px;
        // height: 800px;

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            margin-right: 2.5rem;
        }

        div {}
    }

    footer {
        background-color: rgb(38, 38, 38);
        color: white;
        // height: 400px;
        width: 100%;
        padding: 40px 0;

        .footer-group {
            margin-right: 1.8rem;

            ul {
                list-style-type: none;
                margin: 0;

                li {
                    color: rgb(230, 230, 230);
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }

    }
}